 *{padding: 0;margin:0;}
#container{
   position: relative;
   margin: 0 auto;
   width: 1500px;
}
.box{
    float:left;
    box-shadow: 0 0 6px #ccc;
    border:1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}
.box img{
    width:212px;
    height:auto;
}